{% extends "layout.html" %}

{% block title %}
    Insert
{% endblock %}

{% block main %}
    <form action="/insert" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="keyword" name="keyword" placeholder="Place / Keyword" type="text" required>
        </div>
        <div class="mb-5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="notes" name="notes" placeholder="Notes" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <button id="teste" class="btn btn-primary" type="submit">Insert</button>
    </form>
{% endblock %}
