{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus onkeyup="usernameCheck();" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            {% for i in users %}
                <input id="listuser" type="hidden" value="{{ i }}">
            {% endfor %}
            <!--h4 id="multimeter" type="hidden">Waiting</h4-->
            <script>
                let listOptions = document.querySelectorAll("#listuser");
                var mano = Array.from(listOptions);
                function usernameCheck() {
                    var username = document.getElementById("username");
                    let x = 0;
                    for (let i = 0; i < mano.length; i++) {
                        /*let multimeter = document.querySelector("#multimeter");
                        multimeter.innerText = x;*/
                        if (username.value === mano[i].value) {
                            x++;}}
                        if (x != 0) {
                            username.setCustomValidity("Username already exists");}
                        else {
                            username.setCustomValidity('');}
                    }
            </script>


            </div>
            <div class="mb-3">
                <label for="pass">Password (4 characters minimum):</label>
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" minlength="4" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" minlength="4" type="password" required>
                <script>
                    var password = document.getElementById("password"),
                    confirmation = document.getElementById("confirmation");
                    function validatePassword() {
                        if(password.value != confirmation.value) {
                            confirmation.setCustomValidity("Passwords Don't Match");}
                        else {
                            confirmation.setCustomValidity('');}
                    }
                    password.onchange = validatePassword;
                    confirmation.onkeyup = validatePassword;
                </script>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}